button.btn{
    width: 200px;
    margin: auto;
}
label {
  cursor: pointer;
}

label:hover{
  color: blue;
}

.btn-remove-tour{
  padding: 14px;
  background: red;
  margin: auto;
  width: 50%;
}

h2{
text-align: center;
vertical-align: center;


}

img{
  height: 45vh;
}

.img-wrapper{

  text-align: center;
}

.tour-info{
  display: flex;
  justify-content: space-around;
  padding: 0;
}